.welcome-message{
    font: 1em sans-serif;
    background-color: hsl(129, 79%, 49%);
    color:aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin:0;
}
.login{
    font: 1em sans-serif;
    background-color: hsl(337, 79%, 49%);
    color:aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin:0;
}
    

